*{
  box-sizing: border-box;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#projects{
  height: 3100px;
}

.Section{
  height: 100vh;
  width: 100vw;
  display: block;
  .title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: darkblue;
    font-weight: bolder;
  }

  .subtitle{
    text-decoration: underline;
  }
}
/* Navabar */
nav{
  // position: sticky;
  // top: 0;
  // z-index: 1200;
.navbar-item {
  color: white;
  font-weight: bolder;
  text-transform: uppercase; 
  font-family: 'Ubuntu', sans-serif;
  
}
}

// HeroPage
.Hero{
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
.name{
  font-family: 'Ubuntu', sans-serif;
}
}


//Software
#Software{
  height:80vh;
}

.container-software li{
max-width: 1100px;
margin: 0 auto;
padding: 0 15px;
}
.software-icons{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 20px;
}
.software-icons li{
  max-width: 1100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 5px 5px 5px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  margin: 20px;
}

#Software > div > ul > li:nth-child(6) > i > img{
  width: 20px;
  height: 20px;
}

#Software > div > ul > li:nth-child(16) > span{
  font-size: 17px;
}

.cell{
  display: flex;
  flex-direction: column;
}


//About 
.aboutme{
  display: flex;
  justify-content: center;
}
.bio{
  width: 60vw;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}


//Skills

.container-skills{
  display: flex;
  justify-content: center;
  h2{
    font-size: 20px;
    color: darkblue;
    text-decoration: underline;
    padding-bottom: 10px;
  }
  p{
    font-size: 19px;
  }
}

#skill{
  margin-bottom: 200px;
}

//Projects
.container-info{
  display: flex;
  flex-direction: row;
}

#projects img{
  width:600px;
  height:350px; 
  margin-bottom: 60px;
}

#projects > div{
  margin-bottom: 100px;
  margin-top: 100px; 
}
.container-p{
  display: flex;
  flex-direction: column;
}
.project-info{
  display: flex;
  flex-direction: column; 
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 50px;
  margin-bottom: 50px;
  
.title-small{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: darkblue;
  font-size: 25px;
  margin-bottom: 10px;
}
a{
  margin-top: 5px;
  margin-bottom: 5px;
}
a > span{
  padding: 10px;
}
}
.icons{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#small{
  height: 25px;
}

  
.project-description{
  flex-basis: 0;
  flex-grow: 3;
  padding-right: 30px;
  p{
    font-size:17px;
    text-align: justify;
    text-justify: inter-word;
  }
  }

#projects i  img{
  width: 20px;
  height: 20px;
  }

//Experience


.container-experience{
  display: flex;
  justify-content: center;
.roles{
  width: 60vw;
  text-align: justify;
  font-size: 17px;
}
.time{
  margin-bottom: 5px;
  font-style: italic;
}
}

//Footer
#contact{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 350px;
  background-color: white;
}
.email{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
}


